.search-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}
.search-bar
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 2rem;
}
#search
{
    width: 35%;
    padding: 2rem;
    border: 3px solid #ccc;
    outline: none;
    border-radius: 1rem;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-right: 0.4rem; 
   
}
#search:focus
{
    border: 3px solid rgb(163, 162, 162);
}
.button-container
{
    display: flex;
    height: 5.5rem;
    margin: auto 0px;
}
.loading{
    display: flex;
    align-items: center;
}
.button
{
    background-color: #50585f;
    color: white;
    width: 10rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    border: 1px solid #50585f;
    border-radius: 1rem;
    cursor: pointer;
}
.sp{
    position: absolute;
    left: 24%;
    top:25%;
    font-size: 20px;
    font-weight: 500;
    color: #515253;
}
.button:hover
{
    background-color: #50585fc2;
}
.main-container{
    display: flex;
    flex-direction: column;
    
}
.selectMenu{
   
    position: relative;
    left: 2rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #50585f;
    border-radius: 1rem;
    outline: none;
    padding: 0.5rem;
    height: 5.5rem;
    display: flex;
    margin: auto 0px;
    color: white;
    cursor: pointer;
}









  
   
    .addItems{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        left: 30%;
        top: 10rem;
        height: 55%;
        background-color: rgb(255, 255, 255);
        color: rgb(36, 35, 35);
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8rem;
        letter-spacing: 0.8px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        z-index: 5;
        border-radius: 15px;
        display: none;
    }
  
    .itm-lbl{
      position: relative;
      margin-top: 3%;
      font-size: larger;
      font-weight: 300;
      
    }
  
    .itm-details{
      
      display: flex;
      flex-direction: column;
      position: relative;
      top: 15%;
      width: 60%;
      left: 20%;
    }
  
    .itm-input{
      float: right;
      width: 60%;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      border: 3px solid #ccc;
      outline: none;
      border-radius: 1rem;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 2rem;
      /* margin-right: 0.4rem;  */
    }
    .btn-lg{
      width: 100%;
    }
    .bn{
        background-color: #3cbd40; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 1.5rem;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        border-radius: 5px;
        margin-top: 5%;
        position: relative;
        float: right;
    }
    .cross{
      position: absolute;
      width: 5.2%;
      display: flex;
      justify-content: center ;
      justify-items: center;
      color: white;
      background-color: rgb(250, 6, 6);
      border-radius: 100%;
      font-weight: bolder;
      font-size: 2.3rem;
      right: 2.5%;
      top: 3%;
      cursor: pointer;
    }
 .announc-card{
    width: 50%;
    margin: 1rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 1rem;
}

.announc-details{
    /* border: 1px solid orange; */
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: .6px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Mukta', sans-serif;
    padding-left: 1rem;
}

.announc-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}
.bbt{
    position: relative;
    /* left: 1rem; */
    padding-left: 1rem;
}